<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/folder"></ion-back-button>
    </ion-buttons>
    <ion-title class="title">
      <h3>SOCIAL</h3>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="padding">
  <ion-header>
      <ion-toolbar>
      <p size="large"><strong>Instagram:</strong></p>
      <ion-button expand="full" fill="clear" href="https://Instagram.com/professor_henrique" target="blank">
        &#64;professor_henrique
      </ion-button>
      <ion-button expand="full" fill="clear" href="https://www.instagram.com/teaamomaesautistas/?next=%2F" target="blank">
        &#64;teamomaesautistas
      </ion-button>
    </ion-toolbar>
  </ion-header>
  </div>
</ion-content>


