<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaulthref="/folder"></ion-back-button>
    </ion-buttons>
    <ion-title class="title">SOBRE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-accordion-group [multiple]="true">
    <ion-accordion value="1">
      <ion-item slot="header">
        <ion-label>Definição Básica</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <p><strong>O que é:</strong> O Transtorno do Espectro Autista (TEA) é uma condição de desenvolvimento neurológico que afeta a comunicação, o comportamento e a interação social. O TEA é caracterizado por desafios em áreas como a compreensão de normas sociais, a comunicação verbal e não verbal, e a capacidade de estabelecer e manter relacionamentos.</p>
        <p><strong>Espectro:</strong> O TEA é considerado um "espectro" porque varia amplamente de leve a severo, apresentando características e necessidades únicas para cada indivíduo. Isso significa que algumas pessoas podem ter habilidades de comunicação e interação social relativamente normais, enquanto outras podem apresentar dificuldades significativas. Além disso, os indivíduos com TEA podem ter interesses restritos e comportamentos repetitivos, que podem variar em intensidade e frequência.</p>
      </div>
    </ion-accordion>
  
    <ion-accordion value="2">
      <ion-item slot="header">
        <ion-label>Principais Características</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <p><strong>Déficits na Comunicação:</strong> Indivíduos com Transtorno do Espectro Autista (TEA) podem apresentar dificuldades para iniciar ou manter conversas. Isso pode incluir o uso incomum da linguagem, como a repetição de frases (ecolalia), um tom monótono ou a perda de foco durante a interação. Além disso, podem ter dificuldades em organizar seus pensamentos e expressar suas ideias de maneira clara, o que pode levar a mal-entendidos.</p>
        <p><strong>Comportamentos Repetitivos:</strong> Muitas pessoas com TEA exibem movimentos repetitivos, como balançar as mãos, girar objetos ou fazer movimentos corporais estereotipados. Além disso, podem ter rotinas rígidas e apresentar resistência a mudanças em sua rotina diária. Mudanças inesperadas podem causar ansiedade e desconforto, levando a comportamentos de oposição ou crises emocionais.</p>
        <p><strong>Interesses Restritos:</strong> Indivíduos com TEA frequentemente demonstram um foco intenso em temas ou atividades específicas, como números, datas, tópicos únicos ou hobbies. Esses interesses podem ser muito detalhados e profundos, e podem se tornar uma fonte de prazer e satisfação para a pessoa. No entanto, podem também dificultar a interação com outras pessoas que não compartilham desses interesses.</p>
        <p><strong>Dificuldade na Interação Social:</strong> Muitas pessoas com TEA enfrentam dificuldades em entender e interpretar expressões faciais, gestos e o tom de voz dos outros. Isso pode resultar em problemas para estabelecer e manter relacionamentos. Além disso, pode haver uma falta de interesse em interagir socialmente, o que não significa que a pessoa não deseje companhia, mas sim que pode ter dificuldade em expressar esse desejo ou em entender as dinâmicas sociais.</p>
        <p><strong>Sensibilidade Sensorial:</strong> Além das características acima, muitos indivíduos com TEA apresentam sensibilidades sensoriais, podendo ser hipersensíveis ou hipossensíveis a estímulos como luzes, sons, texturas e cheiros. Isso pode influenciar seu comportamento e conforto em diferentes ambientes.</p>
        <p>Essas características podem variar amplamente entre os indivíduos, e a compreensão e aceitação das diferenças são essenciais para promover um ambiente inclusivo e de apoio.</p>
      </div>
    </ion-accordion>
  
    <ion-accordion value="3">
      <ion-item slot="header">
        <ion-label>Causas</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <p><strong>Genética:</strong> Estudos indicam que fatores hereditários desempenham um papel significativo no desenvolvimento do Transtorno do Espectro Autista (TEA). Pesquisas sugerem que mutações genéticas e variações em genes específicos podem estar associadas ao TEA, e a probabilidade de uma criança ter autismo é maior se houver casos na família. Embora a genética seja um fator importante, o TEA é considerado uma condição multifatorial, ou seja, resulta da interação entre genes e outros fatores.</p>
        <p><strong>Ambiente:</strong> Fatores ambientais também podem contribuir para o desenvolvimento do TEA. A exposição a certos agentes durante a gravidez, como infecções, medicamentos, substâncias químicas e poluição, tem sido associada a um maior risco de autismo. Além disso, complicações durante o parto e prematuridade podem ser fatores de risco. No entanto, ainda há muito a ser investigado sobre como esses fatores interagem com a predisposição genética.</p>
        <p><strong>Não é causado por vacinas:</strong> O mito de que as vacinas são causadoras do TEA tem sido amplamente desmentido por estudos científicos rigorosos. A pesquisa inicial que sugeriu essa ligação foi considerada fraudulenta e foi retractada. Organizações de saúde, como a Organização Mundial da Saúde (OMS) e os Centros de Controle e Prevenção de Doenças (CDC), afirmam que não há evidências científicas que sustentem essa afirmação. As vacinas são seguras e essenciais para a prevenção de doenças.</p>
        <p><strong>Fatores Neurobiológicos:</strong> Além da genética e do ambiente, algumas pesquisas sugerem que diferenças na estrutura e funcionamento do cérebro também podem estar relacionadas ao TEA. Estudos de neuroimagens mostraram que indivíduos com autismo podem apresentar variações em áreas do cérebro relacionadas à comunicação social e à percepção sensorial.</p>
        <p>Essas causas são complexas e ainda estão sendo estudadas, e a compreensão de como elas interagem pode ajudar no desenvolvimento de intervenções mais eficazes e na promoção de uma melhor qualidade de vida para indivíduos com TEA.</p>
      </div>
    </ion-accordion>
  
    <ion-accordion value="4">
      <ion-item slot="header">
        <ion-label>Diagnóstico</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <p><strong>Profissionais Envolvidos:</strong> O diagnóstico do Transtorno do Espectro Autista (TEA) envolve uma equipe multidisciplinar, que pode incluir psiquiatras, psicólogos, neuropediatras, pediatras e terapeutas ocupacionais. Esses profissionais colaboram para realizar uma avaliação abrangente e precisa, considerando diferentes aspectos do desenvolvimento e comportamento do individuo.</p>
        <p><strong>Idade Média:</strong> O TEA pode ser diagnosticado antes mesmo dos 3 anos de idade, embora sinais iniciais possam ser observados antes disso. O diagnóstico pode ocorrer mais tarde, especialmente em casos onde os sintomas são menos evidentes ou em crianças que apresentam habilidades sociais e de comunicação mais desenvolvidas. A detecção precoce é fundamental, pois a intervenção oportuna pode melhorar significativamente os resultados para a criança.</p>
        <p><strong>Critérios:</strong> O diagnóstico do TEA é baseado em avaliações que seguem os critérios do Manual Diagnóstico e Estatístico de Transtornos Mentais (DSM-5). Esses critérios incluem a presença de déficits persistentes na comunicação social e na interação social, além de padrões restritos e repetitivos de comportamento, interesses ou atividades. A avaliação pode incluir entrevistas, observações comportamentais e questionários, além de considerar informações fornecidas por pais e professores.</p>
        <p><strong>Importância da Avaliação Compreensiva:</strong> É importante que o diagnóstico seja realizado por profissionais qualificados e que leve em consideração a diversidade dos sintomas e a individualidade de cada criança. Uma avaliação abrangente pode envolver testes padronizados, observação direta e coleta de informações sobre o desenvolvimento e o comportamento da criança em diferentes contextos.</p>
        <p><strong>Diagnóstico Diferencial:</strong> É crucial descartar outras condições que possam apresentar sintomas semelhantes, como transtornos de linguagem, transtornos de déficit de atenção e hiperatividade (TDAH) e dificuldades de aprendizagem. O diagnóstico diferencial ajuda a garantir que a criança receba o tratamento e o apoio adequados.</p>
        <p>Um diagnóstico adequado é o primeiro passo para a implementação de intervenções e suporte que podem ajudar a criança a desenvolver suas habilidades e a se integrar melhor na sociedade.</p>
      </div>
    </ion-accordion>

    <ion-accordion value="5">
      <ion-item slot="header">
        <ion-label>Tratamento e terapias</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <p><strong>SEM CURA, mas com Manejo Eficaz!!!</strong> O Transtorno do Espectro Autista (TEA) não tem cura pois não é considerado doença, mas existem abordagens terapêuticas e intervenções que podem ajudar a melhorar a qualidade de vida dos indivíduos com TEA, promovendo o desenvolvimento de habilidades e a redução de comportamentos desafiadores.</p>
        <p><strong>ABA (Análise do Comportamento Aplicada):</strong> A Análise do Comportamento Aplicada é uma terapia comportamental amplamente utilizada para crianças e adultos com TEA. Essa abordagem se concentra em aumentar comportamentos desejáveis e reduzir comportamentos indesejáveis por meio de reforços positivos. A ABA é individualizada e pode ser aplicada em diversos contextos, como em casa, na escola e em ambientes comunitários.</p>
        <p><strong>Fonoaudiologia:</strong> A terapia fonoaudiológica visa melhorar a comunicação verbal e não-verbal. Os fonoaudiólogos trabalham com indivíduos para desenvolver habilidades de linguagem, melhorar a articulação e promover a interação social. Além disso, a terapia pode incluir o uso de sistemas de comunicação alternativa e aumentativa para aqueles que têm dificuldades significativas na comunicação verbal.</p>
        <p><strong>Terapia Ocupacional:</strong> A terapia ocupacional é fundamental para ajudar indivíduos com TEA a desenvolver habilidades motoras, sensoriais e de vida diária. Os terapeutas ocupacionais trabalham em habilidades como a autonomia nas atividades diárias, integração sensorial e socialização, promovendo a independência e a capacidade de participar em diversas atividades.</p>
        <p><strong>Medicação:</strong> Embora não haja medicação específica para tratar o TEA, alguns medicamentos podem ser prescritos para ajudar a gerenciar sintomas associados, como ansiedade, irritabilidade, hiperatividade e comportamentos agressivos. A medicação deve ser sempre acompanhada por um médico e considerada como parte de um plano de tratamento mais amplo.</p>
        <p><strong>Intervenções Comportamentais e Educacionais:</strong> Além das terapias mencionadas, programas educacionais adaptados e intervenções comportamentais podem ser eficazes. O envolvimento em ambientes educacionais inclusivos, que atendam às necessidades individuais, pode facilitar o aprendizado e a socialização.</p>
        <p><strong>Suporte Familiar:</strong> O suporte à família é essencial. Grupos de apoio, aconselhamento e recursos educativos podem ajudar os familiares a entender melhor o TEA, aprender estratégias de manejo em casa e promover um ambiente mais acolhedor e compreensivo.</p>
        <p>Um plano de tratamento individualizado, que considere as necessidades e habilidades específicas de cada pessoa com TEA, é fundamental para o sucesso das intervenções. O envolvimento ativo da família e a colaboração entre profissionais são essenciais para alcançar os melhores resultados possíveis.</p>
      </div>
    </ion-accordion>
  </ion-accordion-group>  
</ion-content>