ion-accordion-group {
    margin: 16px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
  }
  ion-content {
    --background: #81f797; /* Cor de fundo personalizada (azul claro) */
  }
  ion-toolbar {
    --background: #ffffff; /* Cor de fundo do cabeçalho */
    --color: #81f797
    ; /* Cor do texto no cabeçalho */
  }
  
  ion-title {
    font-size: 20px;
    font-weight: bold;
  }
  
  
  ion-accordion {
    border: 1px solid #bcbbbbb0;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  ion-item[slot="header"] {
    --background: #ffffff; /* Fundo azul claro */
    --color: #000000; /* Texto verde escuro */
    --border-color: #ffffff; /* Borda azul */
    font-weight: none;
    font-size: 20px;
    border-radius: 10px;
  }
  

  ion-label {
    font-size: 15px;
     
}
  
  .ion-padding {
    font-size: 14px;
    color: #333;
    line-height: 2.0;
    text-align: justify;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 10px;
  }
  @media (max-width: 768px) {
    ion-item[slot="header"] {
      font-size: 14px;
    }
  
    .ion-padding {
      font-size: 13px;
    }
  }
  
  @media (max-width: 480px) {
    ion-item[slot="header"] {
      font-size: 12px;
    }
  
    .ion-padding {
      font-size: 12px;
    }
  }